header {
    margin-left: 232px;
    background: #fff;
    height: 100px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
    z-index: 2;
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
}

header p {
    margin: 0;
}

.headerTitle {
    margin-left: 128px;
    font-size: 24px;
}

.sidebar {
    width: 232px;
    height: 100%;
    background-color: #2a3647;
    position: fixed;
    top: 0;
    padding-top: 64px;
    padding-bottom: 64px;
}

.sidebarText {
    color: #cdcdcd;
}

.dark-blueBg {
    background-color: #091931;
}

.sidebarItem {
    width: 232px;
    gap: 8px;
    height: 46px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 56px;
    padding-right: 56px;
    display: flex;
    text-decoration: none;
}

.sidebarItem:hover .sidebarIcon {
    filter: brightness(1.5);
}

.sidebarItem:hover .sidebarText {
    color: #fff;
}

.sidebarItems {
    margin-top: 128px;
    height: 229px;
}

.sidebarIcon {
    max-width: 25px;
    max-height: 25px;
    object-fit: scale-down;
}

.iconBox {
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
}

.sidebarItem:hover {
    background-color: #091931;
}

.sidebarInfo {
    height: 317px;
    margin-top: 128px;
}

.sidebarInfoLink {
    color: #a8a8a8;
    text-decoration: none;
}

.headerProfile {
    margin-right: 16vw;
    display: flex;
    align-items: center;
    width: 104px;
    height: 56px;
    gap: 16px;
    position: relative;
    /* Added this line */
}

.helpIcon {
    width: 20px;
    height: 20px;
}

.helpIconBox {
    width: 32px;
    height: 32px;
}

.d-none {
    display: none;
}

.dropdown-container {
    width: 180px;
    background-color: #2a3647;
    border-radius: 20px 0px 20px 20px;
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding: 10px 4px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 10px;
}

.dropdown-container a {
    width: 100%;
    white-space: nowrap;
    text-decoration: none;
    color: #cdcdcd;
    padding: 5px 20px;
}

.dropdown-container a:hover {
    background-color: #2a3d59;
}

#navHeader {
    color: #29abe2;
    border: 3px solid black;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    margin-left: 40px;
    min-width: 60px;
    min-height: 60px;
}

#navHeader:hover {
    background-color: #f0f0f0;
}

.mid-container-responsive {
    display: flex;
    box-sizing: border-box;
    justify-content: space-around;
}

.mid-container-responsive {
    z-index: 2;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 110px;
    background-color: #2a3647;
    display: flex;
    align-items: center;
}

.mid-container-responsive a {
    text-decoration: none;
    color: white;
}

.mini-wrapper-res {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.mid-container-responsive h4 {
    color: #cdcdcd;
    margin-block-start: 0;
    margin-block-end: 0;
    font-weight: 400;
    font-size: 24px;
}

@media (max-width: 1500px) {
    .headerProfile {
        margin-right: 10vw;
    }

    .resLogo {
        margin-left: 50px;
        height: 50px;
    }

    header {
        align-items: center;
        margin: 0;
        width: 100vw;
    }

    #sidebar {
        display: none !important;
    }

    .headerTitle {
        display: none;
    }

    .helpIcon {
        display: none;
    }

    .help-wrapper {
        margin-left: 5%;
        margin-top: 100px;
    }

    .dark-blueBg {
        border-radius: 15px;
        background-color: #091931 !important;
        padding: 20px;
        min-width: 140px;
    }
}

@media (min-width: 1500px) {
    .resLogo {
        display: none;
    }

    .mid-container-responsive {
        display: none;
    }
}

@media(max-width: 485px) {
    .mid-container-responsive h4 {
        font-size: 14px;
    }

    .dark-blueBg {
        min-width: 90px;
    }

    .mid-container-responsive {
        height: 97px;
    }
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
    border-radius: 10px;
}

::-webkit-scrollbar {
    width: 7px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-image: -webkit-gradient(linear,
            left bottom,
            left top,
            color-stop(0.44, #acaeb1),
            color-stop(0.72, #acaeb1),
            color-stop(0.86, #acaeb1));
}

@media (min-width:1500px) {
    .headerProfile {
        margin-right: 25vw;
    }
}

.d-none {
    display:none;
}