body {
    background: #f6f7f8 !important;
    height: 1024px;
    width: 1440px;
}

h1 {
    font-size: 61px !important;
    font-weight: 700 !important;
}

p {
    color: #000;
}

.addTaskTemplate {
    margin-left: 232px;
    padding: 128px 0px 0px 128px;
    /* background: #f6f7f8; */
    height: 924px;
}

.addTaskSeperator {
    width: 1px;
    height: 424px;
    background: #D1D1D1;
}

.addTaskContent {
    height: 100%;
}

.addTaskContent p {
    margin: 0px 0px 8px 0px;
}

.addTaskContentLeft {
    width: 440px;
}

.addTaskContentRight {
    width: 440px;
}

.addTaskInput {
    width: 440px;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    height: 48px;
    padding: 0px 16px 0px 16px;
    font-size: 20px;
}

.addTaskInputText {
    height: 120px;
    padding-top: 8px;
}

.addTaskPriorityButton {
    background: #fff;
    width: 136px;
    height: 56px;
    border-radius: 10px;
    box-shadow: 0px 0px 4px 0px #0000001A;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-size: 20px;
}

.addTaskPriorityButton:hover {
    cursor: pointer;
}

.addTaskPriorityButton p {
    margin: 0;
}

.priorityUrgentActive {
    background: #ff3d00;
}

.priorityUrgentActive p {
    color: #fff;
    font-weight: 700;
}

.priorityMediumActive {
    background: #FFA800;
}

.priorityMediumActive p {
    color: #fff;
    font-weight: 700;
}

.priorityLowActive {
    background: #7ae229;
}

.priorityLowActive p {
    color: #fff;
    font-weight: 700;
}

.footnote {
    color: #ff8190;
}

.clearButton {
    height: 56px;
    width: 110px;
    border: 1px solid #2A3647;
    border-radius: 10px;
    text-decoration: none;
}

.clearButton p {
    font-size: 20px;
    color: #2A3647;
    margin: 0;
}

.createTaskButton {
    height: 56px;
    width: 183px;
    background-color: #2A3647;
    border-radius: 10px;
}

.createTaskButton p {
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    margin: 0;
}

.addTaskContentBottom {
    margin-top: 128px;
    width: 977px;
}

.closeIcon:hover {
    cursor: pointer;
}

.clearButton:hover {
    cursor: pointer;
}

.addTaskSubtasks {
    background: #fff;
}

.addTaskSubtasks p {
    color: #D1D1D1;
    margin: 0;
}

.addTaskSubtasks img {
    height: 14px;
    width: 14px;
}

.addTaskSubtasks img:hover {
    cursor: pointer;
}

.addedSubTasks {
    padding: 20px;
}

.addedSubTasks li {
    margin: 8px 0px 8px;
}

.addedSubTasks li:hover {
    background: #eee;
}

.contactInitials {
    font-size: 12px;
    height: 42px;
    width: 42px;
    border-radius: 100%;
    background: #000;
    border: 2px solid #fff;
}

.addTaskAssigned {
    height: auto;
}

.addNewTaskTitle {
    margin-bottom: 64px;
}

.addTaskRows {
    gap: 48px
}

.liSub {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.subImg img {
    margin-left: 8px;
}

.taskAdded {
    width: 100%;
    max-width: 326px;
    height: 74px;
    background: #2A3647;
    border-radius: 20px;
    box-shadow: 0px 0px 4px 0px #00000026;
    padding: 24px;
}

.taskAdded p {
    color: white;
    margin: 0;
    font-size: 20px;
}

.customDropdown {
    position: relative;
    display: inline-block;
}

.dropdownMenu {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    z-index: 1;
    max-height: 200px;
    overflow-y: auto;
    width: 100%;
}

.dropdownMenu div {
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 8px 16px;
    cursor: pointer;
}

.selectedContactsBtn {
    border: unset;
    width: 440px;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    height: 48px;
    padding: 0px 16px 0px 16px;
    font-size: 20px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dropdownMenu div:hover {
    background-color: #b0aeae;
}

.contact-initials {
    height: 48px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    color: white;
    margin-right: 20px;
}

.labelEl {
    font-size: 24px;
} 

input[type='checkbox'] {
position: absolute;
right: 32px;
}

.selectedContacts {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.selectedContacts div {
    border-radius: 50%;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 0;
}

.selectedContactsDisplay {
    margin-top: 20px;
}

.selectedContactsDisplay div {
    background-color: #f0f0f0;
    border-radius: 12px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 5px;
}

.customDropdown {
    width: 100%;
}


@media only screen and (max-width: 1500px) {

    body {
        width: 100%;
        height: 926px;
        margin: 0;
    }

    p {
        font-size: 16px;
    }

    h1 {
        font-size: 47px !important;
    }

    .addTaskTemplate {
        margin: 0;
        padding: 0;
        height: auto;
    }

    .addTaskSeperator {
        display: none;
    }

    .addTaskRows {
        flex-direction: column;
        width: 100%;
        max-width: 428px;
        justify-content: center;
        padding: 0 16px 0 16px;
    }

    .addNewTaskTitle {
        margin: 64px 0px 32px 0px;
        padding: 48px 0px 0px 16px;
    }

    .addTaskTop {
        justify-content: start;
    }

    .addTaskInput {
        width: 100%;
        height: 40px;
        font-size: 16px;
    }

    .addTaskContentLeft {
        width: 100%;
    }

    .addTaskContentRight {
        width: 100%;
    }

    .addTaskInputText {
        height: 88px;
    }

    .addTaskPriorityButton {
        height: 41px;
        font-size: 16px;
    }

    .addTaskPriority {
        gap: 10px;
    }

    .mobileHidden {
        display: none !important;
    }

    .addTaskContentBottom {
        width: auto;
    }

    .addTaskContentBottom {
        margin: 0;
        height: 88px;
        align-items: center;
        padding: 16px;
        width: 100%;
    }

    .addTaskRows {
        gap: 24px;
        margin-bottom: 24px;
    }

    .addTaskContentBottom p {
        margin: 0;
    }

    .footnoteText {
        font-size: 18px;
    }

    .addTaskButtonText {
        display: none;
    }

    .addCategory {
        width: 100%;
    }

    .addCategory p {
        font-size: 27px;
    }

    .addButton {
        height: 30px;
        width: 30px;
    }

    .addButtonImg {
        height: 15px;
        width: 15px;
    }


    .selectedContactsBtn {
        width: 100%;
        max-width: 428px;
        font-size: 16px;
    }

}