body {
    background: #f6f7f8 !important;
    height: 1024px;
    width: 1440px;
    color: #000 !important;
}

h1 {
    font-size: 61px;
    font-weight: 700 !important;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.boardHeader {
    margin-left: 232px;
    margin-top: 128px;
    height: 232px;
    padding-left: 64px;
    padding-right: 64px;
    padding-top: 64px;
}

.boardHeaderMiddle {
    width: 1056px;
    align-items: center;
}

.addCategory {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 244px;
}

.addCategory p {
    font-size: 24px;
    font-weight: 700;
    color: #42526e;
    margin: 0;
}

.searchBar {
    border: none;
    font-size: 20px;
}

.iconBox32 {
    height: 32px;
    width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchBarIcon {
    height: 17.58px;
    width: 17.58px;
}

::placeholder {
    color: #d1d1d1;
}

.searchBackground {
    border: 1px solid #d2d2d2;
    border-radius: 10px;
    width: 312px;
    height: 48px;
    background: white;
    margin-right: 32px;
    justify-content: center;
}

.searchSeperator {
    width: 1px;
    height: 31px;
    background: #eee;
}

.searchContent {
    width: 280px;
}

.addTask {
    background: #2a3647;
    color: white;
    font-size: 21px !important;
    font-weight: 700;
    border: none;
    width: 160px;
    height: 48px;
    border-radius: 10px;
}

.boardHeaderBottom p {
    margin-bottom: 0;
}

.addButton {
    height: 24px;
    width: 24px;
    border: 2px solid #2a3647;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.addButtonImg {
    height: 8px;
    width: 8px;
}

.boardContent {
    margin: 6px 0 0 232px;
    padding: 0 64px 0 64px;
}

.emptyTask {
    width: 252px;
    height: 48px;
    border: 1px dashed #a8a8a8;
    border-radius: 10px;
    background: #e7e7e7;
    margin: 12px;
}

.emptyTask p {
    margin: 0;
    color: #a8a8a8;
}

.task {
    background: #fff;
    box-shadow: 0px 0px 10px 3px #00000014;
    border-radius: 24px;
    padding: 16px;
    margin: 12px;
    width: 252px;
}

.taskCategory {
    padding: 4px 16px 4px 16px;
    border-radius: 8px;
    background: #aaa;
    width: fit-content;
    color: #fff;
}

.taskTitle {
    margin: 16px 0px 0px 0px;
    font-weight: 700;
    color: #2a3647;
}

.taskDescription {
    color: #a8a8a8;
}

.taskAssigned {
    height: 30px;
    width: 30px;
    background: #000;
    color: #fff;
    font-size: 12px;
    border-radius: 100%;
    border: 1px solid #fff;
    margin-right: -8px;
}

.progress {
    height: 8px !important;
    margin-bottom: 24px;
}

.progressText {
    font-size: 12px;
}

.addTaskFloating {
    box-shadow: 0px 0px 4px 0px #0000001a;
    padding: 64px 74px 0px 74px;
    background: #f6f7f8;
    height: 870px;
    border-radius: 30px;
}

.addTaskFloatingBg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.25);
}

.taskOverlay {
    width: 525px;
    background: #fff;
    border-radius: 30px;
    box-shadow: 0px 0px 4px 0px #00000029;
    padding: 48px 40px 48px 40px;
    gap: 24px;
}

.taskOverlay p {
    margin: 0;
    font-size: 20px;
}

.taskOverlayCategory {
    font-size: 23px !important;
    border-radius: 8px;
    color: #fff;
    width: auto;
    width: fit-content;
    padding: 4px 24px 4px 24px;
}

.taskOverlayTitle {
    font-weight: 700;
    font-size: 61px !important;
    line-height: 73.2px;
}

.taskOverlayTextGray {
    color: #42526E;
}

.addTaskSmall {
    display: none;
    background: #2a3647;
    color: white;
    font-size: 21px;
    font-weight: 700;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 10px;
}

.boardCategory {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.overlayEditImg, .overlayDeleteImg {
    margin-left: 8px;
}

.overlayDelete, .overlayEdit {
    border: unset;
    margin: 8px;
    background-color: #fff;
}

.overlaytasksBtns {
    display: flex;
    justify-content: end;
}

@media only screen and (max-width: 1500px) {

    .boardHeader {
        margin: 128px 0 32px 0;
        padding: 0 16px 0 16px;
        height: 144px;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .boardContent {
        margin: 0;
        height: auto;
        flex-direction: column;
        padding: 0 16px 128px 16px;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .boardHeaderMiddle {
        align-items: start;
        gap: 16px;
        flex-direction: column;
        width: 100%;
        max-width: 960px;
    }

    .addTask {
        display: none;
    }

    .addTaskSmall {
        display: flex;
    }

    .searchAddArea {
        flex-direction: column-reverse;
        gap: 32px
    }

    .addTaskFloatingBg {
        width: 100%;
    }

    .taskOverlay {
        max-width: 396px;
    }

    .titleAddTaskSmall {
        justify-content: space-between;
        width: 100%;
        max-width: 428px;
    }

    .searchAddArea {
        width: 100%;
    }

    .searchBackground {
        width: 100%;
        margin: 0;
        max-width: 428px;
    }

    .searchContent {
        justify-content: space-between;
        width: 100%;
        padding: 0 8px 0 8px;
    }

    .boardColumn {
        display: flex;
        max-width: 960px;
        width: 100%;
        margin-bottom: 8px;
        border: 1px solid rgba(0, 0, 0, 0.02);
    }

    .task {
        min-width: 252px;
        max-width: 252px;
        user-select: none;
        margin: 8px;
    }

    .emptyTask {
        margin: 8px;
    }

    .searchBar {
        width: 100%;
    }

    .addTaskButtonText {
        display: none;
    }

    .addCategory {
        max-width: 428px;
    }

    .boardCategory {
        width: 100%;
        max-width: 960px;
        align-items: start;
    }

}