<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../js/headerFooter.js" defer></script>
    <link rel="stylesheet" href="/styles/side_menu.css">
    <link rel="stylesheet" href="/styles/fonts.css">
</head>
<body onload="init()">
    <div class="wrapper">
        <div class="side-bar">
            <img class="logo" src="../assets/img/Capa 1.png" alt="">

            <div class="mid-container">
                <a href="../summary.html" id="summary"><div class="mid-container-wrapper">
                    <div class="mini-wrapper"><img src="../assets/img/summary.png"><h4>Summary</h4></div>
                </div></a>
                <a href="../addTask.html" id="tasks"><div class="mid-container-wrapper">
                    <div class="mini-wrapper"><img src="../assets/img/edit_square.png"><h4>Add Task</h4></div>
                </div></a>
                <a href="../board.html" id="board"><div class="mid-container-wrapper">
                    <div class="mini-wrapper"><img src="../assets/img/board.png"><h4>Board</h4></div>
                </div></a>
                <a href="../contacts.html" id="contacts"><div class="mid-container-wrapper">
                    <div class="mini-wrapper"><img src="../assets/img/perm_contact_calendar.png"><h4>Contacts</h4></div>
                </div></a>
            </div>

            <div class="privacy-legacy">
                <a href="privacyPolicy.html">Privacy Policy</a>
                <a href="legalNotice.html">Legal notice</a>
            </div>
        </div>

        <div class="mid-container-responsive">
            <a href="../summary.html" id="summaryRes"><div class="mid-container-res-wrapper">
                <div class="mini-wrapper-res"><img src="../assets/img/summary.png"><h4>Summary</h4></div>
            </div></a>
            <a href="../board.html" id="boardRes"><div class="mid-container-res-wrapper">
                <div class="mini-wrapper-res"><img src="../assets/img/board.png"><h4>Board</h4></div>
            </div></a>
            <a href="../addTask.html" id="tasksRes"><div class="mid-container-res-wrapper">
                <div class="mini-wrapper-res"><img src="../assets/img/edit_square.png"><h4>Add Task</h4></div>
            </div></a>
            <a href="../contacts.html" id="contactsRes"><div class="mid-container-wrapper-res">
                <div class="mini-wrapper-res"><img src="../assets/img/perm_contact_calendar.png"><h4>Contacts</h4></div>
            </div></a>
        </div>

        <div class="mid-wrapper">
            <div class="mid-navbar">
                    <h3>Kanban Project Management Tool</h3>
                    <img class="logo" src="../assets/img/joinblue.png" alt="">
                    <div class="top-right-icons">
                        <a href="../help.html"><img class="helpSign" src="../assets/img/help.png" alt=""></a>
                        <h2 onclick="dropDown();" id="navHeader">SM</h2>
                        <div id="dropdown"></div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>