body {
  margin: 0;
  background-color: #f6f7f8;
  font-family: 'Inter';
}

.top {
  margin: 32px 0 32px 32px;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.underline {
  width: 70%;
  border-bottom: 3px solid #29abe2;
}

.title h1 {
  font-size: 48px;
  margin-bottom: 16px;
}
.mainSection {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 396px;
  height: 85vh;
  border-radius: 30px;
  background-color: #ffffff;
}

.logInForm {
  display: flex;
  flex-direction: column;
  width: 364px;
  height: 152px;
  margin-top: 32px;
}

.email,
.password {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  height: 52px;
  margin-bottom: 32px;
}

.email img,
.password img {
  width: 16px;
  height: 16px;
  margin: 16px;
}

.inputs {
  width: 320px;
  height: 48px;
  border-radius: 10px;
  outline: none;
  font-size: 24px;
}

.inputs::placeholder {
  color: #d1d1d1;
}

.btnLog {
  border: unset;
  background-color: #2b3646;
  color: white;
  border-radius: 10px;
  padding: 20px;
  width: 180px;
  margin: 16px;
}

.formInputs {
  margin-bottom: 16px;
}

.btnGuest {
  border: unset;
  border: 1px solid #2b3646;
  border-radius: 10px;
  padding: 20px;
  width: 180px;
}

.labelCheckbox {
  margin-left: 16px;
}

.btns {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.registry {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 32px;
}

.signUp {
  border: unset;
  background-color: #2b3646;
  color: white;
  border-radius: 10px;
  padding: 20px;
  width: 120px;
  margin-left: 32px;
}

.terms {
  display: flex;
  justify-content: center;
  align-items: center;
}

.terms p {
  color: #a8a8a8;
  margin-right: 32px;
}
