body {
  margin: 0;
  background-color: #f6f7f8;
  font-family: 'Inter';
}

.logoImg {
  position: relative;
  top: 32px;
  left: 32px;
  margin-bottom: 32px;
}

.leftArrow {
  position: relative;
  left: -25%;
}

.leftArrow:hover {
  border-radius: 50%;
  padding: 8px;
  background-color: #f6f7f8;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 32px;
}

.headline {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.underline {
  width: 70%;
  border-bottom: 3px solid #29abe2;
}

.headline h1 {
  font-size: 48px;
  margin-top: 0;
  margin-bottom: 16px;
}
.mainSection {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.animation {
  margin-bottom: 64px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 90%;
  height: 90vh;
  border-radius: 30px;
  background-color: #ffffff;
}

.logInForm {
  display: flex;
  flex-direction: column;
  width: 364px;
  height: 152px;
  margin-top: 32px;
}

.email,
.password {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  height: 52px;
  margin-bottom: 24px;
}

.email img,
.password img {
  width: 16px;
  height: 16px;
  margin: 16px;
}

.inputs {
  width: 320px;
  height: 48px;
  border-radius: 10px;
  outline: none;
  font-size: 24px;
}

.inputs::placeholder {
  color: #d1d1d1;
  font-family: 'Inter';
}

.btnLog {
  border: unset;
  background-color: #2b3646;
  color: white;
  border-radius: 10px;
  padding: 20px;
  width: 180px;
  margin: 16px;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
}

.btnLog:hover {
  background-color: #29abe2;
  box-shadow: 1px 1px #2b3646;
}

.labelCheckbox {
  margin-left: 16px;
}

.checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
}

.labelCheckbox a {
  text-decoration: none;
  color: #29abe2;
}

.labelCheckbox a:hover {
  color: rgba(41, 171, 226, 0.7);
  text-decoration: underline;
}

.inputCheckbox {
  cursor: pointer;
}

.inputCheckbox:hover {
  box-shadow: 0.6px 0.6px #2b3646;
}

.btns {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.formInputs {
  margin-bottom: 16px;
}

.signUp:hover {
  background-color: rgba(43, 54, 70, 0.9);
}

.terms {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 32px;
}

.terms a {
  color: #a8a8a8;
  margin-right: 32px;
  cursor: pointer;
  text-decoration: none;
}

.terms a:hover {
  color: #29abe2;
}

.msgBox {
  width: 240px;
  height: 48px;
  position: absolute;
  top: 10%;
  left: 40%;
  border-radius: 20px;
  background-color: #2b3646;
  color: #ffffff;
  font-size: 16px;
  align-items: center;
  justify-content: center;
}

@media (min-width: 768px) {
  .btns {
    flex-direction: row;
  }

  .content {
    width: 60%;
  }

  .imgJoin {
    width: 100.03px;
    height: 121.97px;
  }
}
